*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: url(sheree.jpg);
    background-repeat: no-repeat;
    display: flex;
}
h1{
        font-size: 4rem;
        font-weight: 500;
        margin-bottom: 20px;
}

.timebox{
    display: flex;  
    flex-direction: row;
    justify-content: left;
    align-items: left;
    gap: 90px;
}

.time{
    text-align: center;
}
.time h2{
    font-size: 5rem;
    font-weight: 100;

}