*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: url(sheree.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.hero{
    text-align: center;
}

.timebox{
    display: flex;
    justify-content: center;
    gap: 90px;
}

.time{
    text-align: center;
}
.time h2{
    font-size: 5rem;
    font-weight: 100;

}
